// app global css
body { background: whitesmoke; }
body.within-iframe {
  background: transparent !important;
}

.q-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.inline-flex {
  display: inline-flex;
}
.break-n-wrap {
  word-break: break-all;
  word-wrap: break-word;
}

// Authentication Card
#login-container {
  min-width: 320px;
  max-width: 320px;
}

// eContract container
#api-container {
  min-width: 600px;
  max-width: 600px;
}

#meow-card {
  overflow: hidden;
  background-image: linear-gradient(#32194a, #1c1c1c);
}

#meow-card .q-card-primary.q-card-container {
  padding-top 8px !important;
}

#meow-loader {
  position: relative;
}

#meow-contract-helper {
  height: 110px;
}
.q-item-avatar {
  width: 28px;
  height: 28px;
}
