<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# altshiftdev-com: http://ogp.me/ns/fb/altshiftdev-com#">
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Ledger EOS Wallet &amp; Account Viewer | My EOS Wallet | MEOW">
    <meta property="og:site_name" content="MEOW - My EOS Wallet"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="altshiftdev.com">
    <meta property="og:image" content="https://altshiftdev.com/statics/meta/my_eos_wallet_opengraph.png">
    <meta property="og:description" content="MEOW is a secure, private, free & cross-chain web-wallet on EOS! Inspired by MEW, MEOW allows EOS users to manage their accounts with hardware wallets in the browser - no downloads required.">
    <meta name="description" content="MEOW is a secure, private, free & cross-chain web-wallet on EOS! Inspired by MEW, MEOW allows EOS users to manage their accounts with hardware wallets in the browser - no downloads required.">

    <meta name="keywords" content="altShiftDev,Ledger Nano S,Ledger EOS Wallet,Trezor,Trezor EOS Wallet,My EOS Wallet,MEOW,MEOW Wallet,EOS Wallet,EOS Account,EOS Account Viewer,EOS Blockchain,Telos Account,Telos Wallet,TLOS Wallet,Worbli Account,Worbli Wallet,WBI Wallet,CryptoKylin Account,CryptoKylin Wallet,Junglenet Account,Junglenet Wallet">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <link rel="apple-touch-icon" sizes="180x180" href="statics/favicons/apple-touch-icon.png?v=XBJBROojYa">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/favicons/favicon-32x32.png?v=XBJBROojYa">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/favicons/favicon-16x16.png?v=XBJBROojYa">

    <link rel="mask-icon" href="statics/favicons/safari-pinned-tab.svg?v=XBJBROojYa" color="#521c89">
    <link rel="shortcut icon" href="statics/favicons/favicon.ico?v=XBJBROojYa">
    <meta name="msapplication-TileColor" content="#521c89">
    <meta name="msapplication-config" content="statics/favicons/browserconfig.xml?v=XBJBROojYa">
    <meta name="theme-color" content="#521c89">
    <title>
      Ledger EOS Wallet &amp; Account Viewer | My EOS Wallet | MEOW
    </title>
  </head>
  <body>
    <noscript>
      It looks like you have javascript disabled, unfortunately this site won't work without it. Enable javascript and refresh your page to continue.
    </noscript>

    <!-- DO NOT touch the following <div> -->
    <div id="q-app"></div>

    <!-- built files will be auto injected here -->
  </body>
</html>
